<div id="channel-videos-table-wrapper"
     hx-get="/channels/{{ channel.id }}/videos"
     hx-trigger="every 10s"
     hx-swap="outerHTML"
     hx-include="#channel-video-search, #channel-video-sort">
  <div class="overflow-x-auto">
    <table class="table table-responsive cr-video-table mt-2">
      <thead>
        <tr>
          <th class="w-24"></th>
          <th>Title</th>
          <th>Status</th>
          <th>Upload Date</th>
          <th>Duration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% include "videos/_table_body_performer.html" %}
      </tbody>
    </table>
  </div>
{% if search and not videos %}
<p class="text-center text-base-content/60 mt-4">No videos matching "{{ search }}"</p>
{% endif %}
</div>
