<div class="overflow-x-auto">
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Site</th>
        <th>Videos</th>
        <th class="tooltip tooltip-bottom" data-tip="Hours between automatic channel scans">Interval</th>
        <th class="tooltip tooltip-bottom" data-tip="Only download videos newer than this (days)">Max Age</th>
        <th class="tooltip tooltip-bottom" data-tip="Skip videos shorter than this (seconds)">Min Duration</th>
        <th>Last Checked</th>
        <th class="tooltip tooltip-bottom" data-tip="Enabled channels are scanned automatically">Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="channel-list">
      {% for channel in channels %}
      {% include "channels/_row.html" %}
      {% endfor %}
    </tbody>
  </table>
</div>
